.BusStopInfoLabel {
    text-align: center;
    color: #f0f0f0;
    font-family: 'Roboto', sans-serif;
}

.BusStopCodeLabel {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 14px
}

.BusStopNameLabel {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 17px;
}