.WAB {
    height: 13px;
    width: 13px;
}

.BusNum {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 21px;
}

.Destination {
    font-family: 'Roboto', sans-serif;
    font-size: 14.5px;
}

.BusType {
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    color: gray;
}

.LoadStatus {
    position: absolute;
    text-align: center;
    left: 190px;
    top: 35px;
}

.EtaTime {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 28px;
    align-items: center;
}