.Green {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: green;
}

.Red {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: orangered;
}