.Green {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: green;
    position: absolute;
}

.Yellow {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: #FFCA28;
    position: absolute;
}

.Red {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: red;
    position: absolute;
}