.Green {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: green;
    position: absolute;
}

.Orange {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: orangered;
    position: absolute;
}

.Red {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: red;
    position: absolute;
}